html{
    font-size: 62.5%
}

img{
    width: 300px;
    height: 250px;
}

p.images{
    display: flex;
    justify-content: space-around;
}

#gameResult{
    color: red;
    font-size: 5rem;
}

.hidden{
    display:none;
}