html{
    font-size: 62.5%
}

body{
    font-size: 2rem;
}

button{
    font-size: 1.5rem;
}

button:hover{
    background-color: rgba(170, 193, 241, 0.8);
    cursor: pointer;
}

.fa-solid{
    color: rgba(33, 67, 141, 0.8);
}
.fa-solid:hover{
    color: rgba(170, 193, 241, 0.8);
    cursor: pointer; 
}

p.images{
    display: flex;
    justify-content: space-around;
}

#gameResult, #gameStatus{
    color: red;
    font-size: 3rem;
}

.hidden{
    display:none;
}


@media (max-width:800px){
    p.images{
        /* flex-direction: column;
        align-content: center; */
        flex-wrap: wrap;
        }
    
    img{
        width: 50%;
        height: 50%;
        }
}

@media (max-width:320px) {
    p.images{
        flex-direction: column;
        align-content: center;
        }
    
    img{
        width: 50%;
        height: 50%;
        }  
}