html{
    font-size: 62.5%
}

p,span{
    font-size: 1.5rem;
}

img{
    width: 30%;
    height: 30%;
}

p.images{
    display: flex;
    justify-content: space-around;
}

#gameResult, #gameStatus{
    color: red;
    font-size: 3rem;
}

.hidden{
    display:none;
}


@media (max-width:800px){
    p.images{
        /* flex-direction: column;
        align-content: center; */
        flex-wrap: wrap;
        }
    
    img{
        width: 50%;
        height: 50%;
        }
}

@media (max-width:320px) {
    p.images{
        flex-direction: column;
        align-content: center;
        }
    
    img{
        width: 50%;
        height: 50%;
        }  
}